.box{
	margin-bottom: 10px;
	min-height: 100px;
	background-color: red;
}

.box1{
	margin-bottom: 10px;
	min-height: 100px;
	background-color: blue;
}

.box2{
	margin-bottom: 10px;
	min-height: 100px;
	background-color: green;
}

.box3{
	margin-bottom: 10px;
	min-height: 100px;
	background-color: teal ;
}
.box4{
	margin-bottom: 10px;
	color: black;
	min-height: 100px;
	background-color: brown;
}
.box5{
	margin-bottom: 10px;
	color: black;
	min-height: 100px;
	background-color: skyblue;
}
.box6{
	margin-bottom: 10px;
	color: white;
	min-height: 100px;
	background-color: black;
}
.box7{
	margin-bottom: 10px;
	min-height: 100px;
	background-color: yellow;
}
.box8{
	margin-bottom: 10px;
	min-height: 100px;
	background-color: grey;
}
.box9{
	margin-bottom: 10px;
	min-height: 100px;
	background-color: tomato;
}
.box10{
	margin-bottom: 10px;
	min-height: 100px;
	background-color: red;
}
.box11{
	margin-bottom: 10px;
	min-height: 100px;
	background-color: violet;
}








